/*
color scheme:
#8eb9ff - blue
#8fff89 - green
# fonts: use Lora or Crimson Text
*/

* {
	font-family: 'Lora', serif;
}

a:hover {
		background-color: #8fff89;
		transition: background-color 0.5s;
		-webkit-transition: background-color 0.5s;
		text-decoration: none !important;
}

#nav {
	border: none;
	background: white;
	box-shadow: none;
	border-radius: 0;
}

.icon {
	padding: 15px;
}

	.icon:hover, .screenshot:hover {
		background: none;
		opacity: 0.7;
	}

.simpleButton {
	border: 1px solid #45bd00;
	background-color: white;
	transition: background-color 2s;
	-webkit-transition: background-color 2s;
	margin-top: 5px;
	padding: 5px;
}

	.simpleButton:hover {
		background-color: lightgreen;
		transition: background-color 2s;
		-webkit-transition: background-color 2s;
	}

#bg {
	background-color: #fafafa;
}

.box {
	background-color: white;
}

#updated {
	color: gray;
}

#nav a {
		color: black;
		transition: color 1s;
		-webkit-transition: color 1s;
}

	#nav a:hover {
		color: #8eb9ff !important;
		transition: color 0.25s;
		-webkit-transition: color 0.25s;
	}

	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
		border-top: 3px solid #8eb9ff;
		line-height: 14px;
		background: none !important;
		box-shadow: none !important;
	}

#dp {
	border-radius: 50%;
	height: 100px;
}

#li {
	color: #006192;
}

#twitter {
	color: #1DA1F2;
}

#medium {
	color: black;
}

#ig {
	color: #E1306C;
}

#email {
	color: #D44638;
}

#intro {
	margin-top: 40px;
	padding-top: 20px;
	background-color: white;
}
